.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } 
} */
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #61dafb;
} */
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.circbtn{
color: black;
  min-width: 15rem;
  min-height: 10rem;
  font-size: 5rem;
  font-weight: 1000;
  padding: 0;
  margin-top: 3rem;
}
.circbtn:hover{
  color:black;
}
.shTitle{
  all: initial;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  font-size: 10rem;
  margin-top: 1rem;
  
}
.shTitle:hover{
  text-decoration: none;
  color:initial;
}
.roomSq{
  width: 15rem;
  height: 15rem;
  margin: .5rem;
  border: 1px black;
  border-style: solid;
  border-radius: .5rem;
  color:black;
}
.roomSq:hover{
  opacity:0.7;
}
.roomList{
  margin-top: .5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: inline-flex;
  overflow: auto;
  white-space: nowrap;
}
.roomName{
  font-size: 3rem;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  
}
.roomInp{
  width:60rem;
  height:5rem;
  font-size: 3rem;
  text-align: center;
}
.roomSel{
  text-align-last:center;
}
.crtRm{
  height:7rem;
  width:12rem;
  margin-top: 4rem;
  font-size: 3rem;
  text-align: center;
  border: 1px black solid;

}
.colorTitle{
  text-align: center;
}
.roomdetails{
  text-align: left;
  font-size: 2rem;
  font-weight: 800;
}
.devices{
  height:5rem;
  font-size: 3rem;
  border: 1px black solid;

}
.disable-selection {
  -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer */
-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
-webkit-user-select: none; /* Chrome, Safari, and Opera */
-webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
/* .roomDeets{
  height:20rem;
} */
.addDevComp{
  height:20rem;
}